Creating lists
The values in the list are called elements or items

In [2]:
#demo: list definition
['cappucino', 'americano', 'espresso']

['cappucino', 'americano', 'espresso']

In [3]:
#demo: elements do not need to be of the same
['cappucino',110,True]

['cappucino', 110, True]

In [4]:
#demo: nested lists
['Espresso Temp', ['Iced', 'Cold'] ]

['Espresso Temp', ['Iced', 'Cold']]

In [5]:
# can assign lists to variables
products = ['cappucino', 'americano', 'espresso']

In [6]:
# indexing
products = ['cappucino', 'americano', 'espresso']
print(products[0])

#you can also have the length

cappucino

In [7]:
# mutable list
schools = ['SOM', 'SOSS', 'SOSE', 'SOM']
print(schools)

schools[0] = "JGSOM"

print(schools)

['SOM', 'SOSS', 'SOSE', 'SOM']
['JGSOM', 'SOSS', 'SOSE', 'SOM']

In [8]:
#MERGING LISTS using + Operator

In [9]:
# merg two lists

new_products = ['Chicken', 'Lava', 'Steve']

updated_prods = products + new_products

print(updated_prods)
#does not change the value of the previous lists

['cappucino', 'americano', 'espresso', 'Chicken', 'Lava', 'Steve']

In [10]:
#Slicing lists

In [11]:
# slicing lists 
# similar to strings

print(updated_prods[1:3])
print(updated_prods[:3])
print(updated_prods[::2]) 
print(updated_prods[:]) #Prints the entire text

['americano', 'espresso']
['cappucino', 'americano', 'espresso']
['cappucino', 'espresso', 'Lava']
['cappucino', 'americano', 'espresso', 'Chicken', 'Lava', 'Steve']

In [12]:
# omit first and last indices


updated_prods[1:4] = ['long black', 'double espresso', 'brew of the day']
print(updated_prods)

['cappucino', 'long black', 'double espresso', 'brew of the day', 'Lava', 'Steve']

In [13]:
#List Functions and Methods
#len()
print(len(updated_prods))

#extend()
updated_prods.extend(['eggs benedict', 'lemonade', 'iced tea'])
print(updated_prods)

#sort()
updated_prods.sort()  #temporary sort, but follows capitalization and letters. numbers
print(updated_prods)

#list()
list("banana")

#split(delimiter) 
"The quick brown fox jumps over the lazy dogs".split() #Makes a lists separating the strings

6
['cappucino', 'long black', 'double espresso', 'brew of the day', 'Lava', 'Steve', 'eggs benedict', 'lemonade', 'iced tea']
['Lava', 'Steve', 'brew of the day', 'cappucino', 'double espresso', 'eggs benedict', 'iced tea', 'lemonade', 'long black']

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs']

In [14]:
customers = "Joben,Joe,Elizabeth,Lizell".split(",")

print(customers)

['Joben', 'Joe', 'Elizabeth', 'Lizell']

# Dictionaries

In [7]:
#Create a dictionary
dl = {"username": "joben@example.com"}
print(dl)

{'username': 'joben@example.com'}

In [8]:
#set new key/value pair

dl['first name'] = 'Joben'
dl['last name'] = 'Ilagan'
print(dl)

{'username': 'joben@example.com', 'first name': 'Joben', 'last name': 'Ilagan'}

In [9]:
#retrieve value for a given key
#key name is case sensitive and has to be exact

print(dl["username"])
print(dl["first name"])
print(dl['last name'])

joben@example.com
Joben
Ilagan

In [10]:
# error referencing a non-existent key
try: 
    print(dl["First name"])
except:
    print("An error occured")
    pass #Python shouldn't do anything else, allows you to ignore for now

try: 
    print(dl["first_name"])
except:
    print("An error occured")

An error occured
An error occured

In [11]:
#Each item has a key used to reference a value

In [12]:
#valid use of keys
d2 = {} #using curly braces
d2['string key'] = 'First Value'
d2[1] = "Second Value" #Avoid mixing data types for dictionaries
d2[True] = "Third Value"
d2[(1,2)] = '4th Value'
print(d2)

{'string key': 'First Value', 1: 'Third Value', (1, 2): '4th Value'}

In [13]:
# error using mutable types as keys
try:
    d2[['a','b']] = '5th Value' 
except:
    print('Invalid operation')

Invalid operation

In [14]:
#Dictionary values however could be any data type or anything referencable by name

In [15]:
#Basic datatypes as values

d2['string key'] = 1
print(d2)

{'string key': 1, 1: 'Third Value', (1, 2): '4th Value'}

In [16]:
#more complex data types
d3 = {}

#lists
d3['list key'] = ['a', 'b', 'c'] 

#sets
d3['set key'] = {1,2,3,1,2,3}

#dictionaries (embedded dict)
d3['dict key'] = {'a':1, 'b':2, 'c':3} 

#functions

def f1():
    return True
d3['func key'] = f1

print(d3)

{'list key': ['a', 'b', 'c'], 'set key': {1, 2, 3}, 'dict key': {'a': 1, 'b': 2, 'c': 3}, 'func key': <function f1 at 0x000001E2878249A0>}

Dictionary Functions

In [17]:
#dict() another way to start with a fresh dictionary
d4 = dict([(1,"one"), (2,"two")])

print(d4)

{1: 'one', 2: 'two'}

In [18]:
#keys() returns the keys of a dictionary, its own list 
print(dl)
print(dl.keys()) #the list of keys
                #then looks at those keys and prints them individually
for k in dl.keys():#directly prints out the keys assigned
    print(k)

#list comprehension/print keys
out = [print(k) for k in dl.keys()]

{'username': 'joben@example.com', 'first name': 'Joben', 'last name': 'Ilagan'}
dict_keys(['username', 'first name', 'last name'])
username
first name
last name
username
first name
last name

In [19]:
#items() returns a list of tuples of key/value pairs of the dictionary

print(dl.items())

#list comprehension/print items
out = [print(i) for i in dl.items()]

dict_items([('username', 'joben@example.com'), ('first name', 'Joben'), ('last name', 'Ilagan')])
('username', 'joben@example.com')
('first name', 'Joben')
('last name', 'Ilagan')

In [20]:
#values()

print(dl.values())

#list comprehension/print items 
out = [print (v) for v in dl.values()]  #print out the values without the keys

dict_values(['joben@example.com', 'Joben', 'Ilagan'])
joben@example.com
Joben
Ilagan

In [21]:
#get()

print(dl.get('first name')) #similar to dl['first name'] 
print(dl.get('last name'))

Joben
Ilagan

In [22]:
#setdefault() setting the addresss

try:
    print(dl["address"])
except:
    print("Key 'address' does not yet exist")
          
#bew key if the key doesn't exisst then make a new key
address = dl.setdefault('address','Pasig')
print(address)

#existing key
address = dl.setdefault('address','QC')
print(address) #since address always exist, it is not the same as updating the value

dl['address'] = "QC"
print(dl['address']) #This is how you properly update

Key 'address' does not yet exist
Pasig
Pasig
QC

Complex Dictionary Examples

In [40]:
#product catalog:
product_dict = {'americano':{'name':'Americano', 'price':140},
                'brewed':{'name':'Brewed Coffee', 'price':100},
                'cappuccino':{'name':'Cappuccino','price':110},
                'dalgona': {'name':'Dalgona','price': 120},
                'espresso' :{'name':'Espresso','price':110}
               }

In [41]:
#get products
product_dict["americano"]

{'name': 'Americano', 'price': 140}

In [42]:
#get price
print(product_dict['cappuccino']['price'])

110

In [43]:
# add product
product_dict['frappucino']={'name':'Frappucnio','price':200}

print(product_dict)

{'americano': {'name': 'Americano', 'price': 140}, 'brewed': {'name': 'Brewed Coffee', 'price': 100}, 'cappuccino': {'name': 'Cappuccino', 'price': 110}, 'dalgona': {'name': 'Dalgona', 'price': 120}, 'espresso': {'name': 'Espresso', 'price': 110}, 'frappucino': {'name': 'Frappucnio', 'price': 200}}

In [44]:
#get a list of  price
[p for p in product_dict] #Returns the keys 
[p for p in product_dict.values()] #Returns the sub-dictionaries
[p['price'] for p in product_dict.values()] #returns price in the sub-dictionaries

[140, 100, 110, 120, 110, 200]

In [45]:
#Get the avg price of all products
list_of_price = [p['price'] for p in product_dict.values()]
number_of_products = len(product_dict)

avg =  sum(list_of_price)/number_of_products
print(avg)

130.0

# More complex examples: run function dynamically
Regular customer and a senior citizen that has 25% discount
Just apply a straight 25% off

In [50]:
#define price functions
def reg_price(price):
    return price
def sc_price(price):
    return price * .80
    
#define dictionaries
price_tiers = {'REG':reg_price,'SC':sc_price}

customers = {'joben#example.com':{'name':'Joben Ilagan','tier':'SC'},
             'joe#example.com':{'name':'Joe Ilagan','tier':'REG'},
             'chums#example.com':{'name':'Matthew Uy','tier':'REG'}
            }
#DEFINE MAIN FUNCTION

def quote_price(customer_id, product_id):
    tier = customers[customer_id]['tier']
    price_func = price_tiers[tier]
    base_price = product_dict[product_id]['price'] #we want the value 
    return price_func(base_price)

In [52]:
#test main function

print(quote_price("chums#example.com","americano"))

print(quote_price("joben#example.com","americano"))

140
112.0

In [49]:
product_dict

{'americano': {'name': 'Americano', 'price': 140},
 'brewed': {'name': 'Brewed Coffee', 'price': 100},
 'cappuccino': {'name': 'Cappuccino', 'price': 110},
 'dalgona': {'name': 'Dalgona', 'price': 120},
 'espresso': {'name': 'Espresso', 'price': 110},
 'frappucino': {'name': 'Frappucnio', 'price': 200}}

## Tuples and Sets

in operator #returns True if the first term is an element of the second term

In [55]:
#demo: in

globe = ['0917','0927']
smart = ['0918','0928']

print('0917' in globe)
print('0917' in smart)
print('0918' in smart)

True
False
True

# Traversing Lists

In [57]:
# use while
products = ['americano','brewed coffee','cappuccino','dalgona','espresso','frappucino']

i = 0

while(i<len(products)):
    print(products[i])
    i+=1

#goes through the list one by one, by indexing it until the number is equal to the length

americano
brewed coffee
cappuccino
dalgona
espresso
frappucino

In [58]:
# use for

for p in products: 
    print(p)

americano
brewed coffee
cappuccino
dalgona
espresso
frappucino

# range()
the function returns a list-like value 
normal usage is range(num), strating with 0 and ending in num-1
starting number is inclusive while the last is exclusive

In [62]:
# range(num)
print(range(10))

# wrap or convert to list ** the number input is excluse, so it will input 9 instead of 10
list(range(10))

#range(start,end)
print(list(range(0,10)))

#range(start,end)

print(list(range(3,10)))

print(list(range(len(products)))) #use for with a range than an iterable

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]

In [63]:
for i in range(len(products)):
    print(products[i])

#how it is usually done in other languages

americano
brewed coffee
cappuccino
dalgona
espresso
frappucino

# List Comprehension

In [71]:
#list comprehension
print([p for p in products])

print([print(p)for p in products])

print([p.upper() for p in products])

print([i for i in range(0,len(products))])

print(type([i for i in range(0,len(products))]))

['americano', 'brewed coffee', 'cappuccino', 'dalgona', 'espresso', 'frappucino']
americano
brewed coffee
cappuccino
dalgona
espresso
frappucino
[None, None, None, None, None, None]
['AMERICANO', 'BREWED COFFEE', 'CAPPUCCINO', 'DALGONA', 'ESPRESSO', 'FRAPPUCINO']
[0, 1, 2, 3, 4, 5]
<class 'list'>

# for revised

In [75]:
# traverse characters in a strong

sentence = "The quick brown fox jumps over the lazy dogs"

for c in sentence:
    print (c,end=" ")
    
print(" ")

for word in sentence.split(): 
    print(word,end=" ")

customers = 'Joben,Joe,Elizabeth,'

for customer in customers.split(","):
    print(student, end="/")

T h e   q u i c k   b r o w n   f o x   j u m p s   o v e r   t h e   l a z y   d o g s
The quick brown fox jumps over the lazy dogs Joben/Joe/Elizabeth//

Initialzing Lists

In [77]:
#list initialization 

empty_list = []

print(empty_list)

[]

In [78]:
# append()

empty_list.append('first entry')
print(empty_list)

['first entry']

In [81]:
empty_list.append(2)
print(empty_list)
print(products)
products.append('latte')
print(products)

['first entry', 2, 2, 2]
['americano', 'brewed coffee', 'cappuccino', 'dalgona', 'espresso', 'frappucino']
['americano', 'brewed coffee', 'cappuccino', 'dalgona', 'espresso', 'frappucino', 'latte']

pop() removes the last  value at the end of the list

In [82]:
# pop()

popped_value = products.pop()
print(popped_value)

latte

# List vs Tupples

Tuple is immutable

In [84]:
#tupples
print((2,4))
print(tuple(globe)) #convert list to tuple

#tupple immutability
globe_tup = tuple(globe)
smart_tup = tuple(smart)

print(globe_tup)
print(smart_tup)

(2, 4)
('0917', '0927')
('0917', '0927')
('0918', '0928')

'0917'

# Sets
unordered and unindeed collection of unique elements

In [87]:
# sets
demoset = {1,1,2,2,3,3,10}
print(demoset) #set of elements that are unique and unordered

#keep track of items and just add it to the set, elements would be unique

{3, 1, 10, 2}

In [88]:
demoset.add(99)
print(demoset)

{1, 2, 3, 99, 10}

## zip()

In [93]:
# basic zip() 
newprod = ['cappuccino','espresso']
newprices = [120,140]
new_rate= ['Good','Fair']

print(list(zip(newprod,newprices,new_rate))) #everything at index 1 is grouped together

#use starred expression to unpack
print(list(zip(*[newprod,newprices,new_rate])))

[('cappuccino', 120, 'Good'), ('espresso', 140, 'Fair')]
[('cappuccino', 120, 'Good'), ('espresso', 140, 'Fair')]

all() returns True if all items in an iterable are true, otherwise it returns False

In [96]:
# list of integers 
print(all([1,0,1,1]))

print(all([True,True,140==140]))

tmplist = ["A","A","A","A"]
all([a=="A" for a in tmplist])

False
True

True

sum()

In [97]:
tmplist2 = [15,15,15]
print(sum(tmplist2))

45

map(function, iterable, ...)
 function in Python is a built-in function used to apply a specified function to each item in an iterable (like a list, tuple, or string) and return an iterator that yields the results

 so basically it can make things more simple to look at by separating the function

In [104]:
def pass_or_fail(grades):
    if grades >= 60:
        return "Pass"
    else:
        return "Fail"

grades = [90,94,100,99,59,55,60]

print(list(map(pass_or_fail,grades)))

for grade in map(pass_or_fail, grades):
    print(grade)

['Pass', 'Pass', 'Pass', 'Pass', 'Fail', 'Fail', 'Pass']
Pass
Pass
Pass
Pass
Fail
Fail
Pass

Multidimensional list

In [106]:
#matrix def
matrix = [[8,1,6],
          [3,5,7],
          [4,9,2],
         ]

In [110]:
# multi-dimensional lists (Arrays)
print(matrix[0][1]) #row zero,column 1

# traverse upper-left to lower-right (diagonally)
[[matrix[i][i]] for i in range(3)]

# traverse lower-left to upper-right
[[matrix[3-1-i][i]] for i in range(3)]


#using zip with our matrix
print([i for i in zip(*matrix)])

1
[(8, 3, 4), (1, 5, 9), (6, 7, 2)]

# Files/JSONS/CSV